.container {
    background-color: grey;
    padding-top: 100px;
    padding-bottom: 140px;
    padding-left: 50px;
    
}

.contact-info {
     float: right;

   }

   .body-head {
       padding-left: 30px;
       
       }
       .folio-items{
 
       }

       .folio-side{
 
         
       }
