body{
    padding-left: 80px;
    padding-right: 60px;
}
.container {
    background-color: grey;
    padding-top: 100px;
    padding-bottom: 140px;
    padding-left: 50px;
    
}

.contact-info {
     float: right;

   }
   .container-two {
    border: 3px solid black;
}
.container-two > div {    
    border: 2px solid black;
}
.flex-container{
    display: flex;
    width: 100%;
}

.flex-container2{
    display: flex;
    width: 100%;
}

.flex-container3{
    display: flex;
    width: 100%;
}

.flex-container4{
    display: flex;
    width: 100%;
}

.body-head {
       padding-left: 30px;
       
       }
  .folio-items {
      width: 50%; 
        }

  .folio-side{ 
    width: 50%;         
       }
